h1{
  font-size:25px;
  color:#1624BA;
  margin-top:50px;
  text-align:center;
}
#oe893j383u38e{
  color:red;
  text-align:center;
  font-size:20px;
}
.photo{
  margin-left:60px;
}
h3{
  color:#1F47E6;
  font-size:20px;
  text-align:center;
}
.get{
  background-color:#8C1FE6;
  font-size:20px;
  font-weight:700;
  padding:10px 20px;
  margin-top:50px;
  margin-left:136px;
  border:none;
  border-radius:18px;
}
.geta{
  color:white;
  text-decoration:none;
}